<div class="form-group">
	<label class="text-right col-md-3" for="ubicacion">Ubicación:</label>
	<div class="col-md-8 col-md-offset-1">

		<p class="help-block">Provincia</p>
		<select 
			class="form-control" name="provincia"
			required
		>
			<option value="" disabled>-Seleccionar provincia-</option>
		</select>

		<p class="help-block">Cantón</p>
		<select 
			class="form-control" name="canton"
			ng-change="updateCantones()"
			required
		>
			<option value="" disabled>-Seleccionar cantón-</option>
		</select>

		<p class="help-block">Distrito</p>
		<select 
			class="form-control" name="distrito"
			required
		>
			<option value="" disabled>-Seleccionar distrito-</option>
		</select>
	</div>
</div>