/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/tests/
/storage/

Homestead.json
Homestead.yaml
composer.json
composer.lock
yarn.lock
artisan
webpack.mix.js
server.php
package.json
phpunit.xml
npm-debug.log
yarn-error.log
.env
